* {
    margin: 0;
    padding: 0;
}
/* aqui empiezala primera mitad */
.mitad1 {
    width: 1080px;
    height: 600px;
    background-color: rgb(32, 32, 32);
    display: inline-block;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 40px 0px;
}

h1 {
    color: aliceblue;
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px 0px 0px;
}

h2 {
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 40px 0px;
}
.p1 {
color: aliceblue;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 0px 10px 120px;
display: inline-block;
}
.p2 {
color: aliceblue;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 0px 10px 260px;
display: inline-block;
}
.p3 {
color: aliceblue;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 0px 10px 280px;
display: inline-block;
}

.cuadro1 {
    width: 300px;
    height: 400px;
    margin: 0px 0px 0px 40px;
    background-image: url("../assets/gallery_photo_1.avif");
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
    display: inline-block;
}
.cuadro2 {
    width: 300px;
    height: 400px;
    margin: 0px 0px 0px 40px;
    background-image: url("../assets/gallery_photo_2.avif");
    background-position: 80% 10%;
    background-repeat: no-repeat;
    border-radius: 2%;
    display: inline-block;
}
.cuadro3 {
    width: 300px;
    height: 400px;
    margin: 0px 0px 0px 40px;
    background-image: url("../assets/gallery_photo_3.avif");
    background-position: 15% center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
    display: inline-block;
}

table {
    border-collapse: collapse;
    margin: 1px 1px 1px 1px;
}

td {
    /* border: 1px solid rgb(8, 8, 8); */
    width: 182px;
    height: 30px;
    text-align: right;
    margin: 0px 10px 10px 200px;
    padding: 0px 0px 10px 10px;
    color: aliceblue;
    font-size:larger;
}

th {
    width: 134px;
    height: 30px;
    margin: 0px 10px 10px 200px;
    padding: 0px 10px 10px 10px;
    text-align: right;
    background-color: rgb(32, 32, 32);
}

button {
    width: 40px;
    height: 25px;
    padding: 0px;
    color: rgb(20, 250, 20);
    background-color: rgb(32, 32, 32);
    border: 3px solid rgb(20, 250, 20);
    transition: background-color 1.5s ease;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(55, 55, 55);
    transform: scale(1.15);
    transition: background-color 1.5s ease;
}

/* aqui empieza la segunda mitad */

.segundo {
    width: 1080px;
    height: 450px;
    padding: 10px 0px 40px 0px;
    background-color: rgb(32, 32, 32);
}

.p4 {
color: aliceblue;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 0px 10px 180px;
display: inline-block;
}
.p5 {
color: aliceblue;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 0px 10px 280px;
display: inline-block;
}
.p6 {
color: aliceblue;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 0px 10px 260px;
display: inline-block;
}

.cuadro4 {
    width: 300px;
    height: 400px;
    margin: 0px 0px 0px 40px;
    background-image: url("../assets/gallery_photo_4.avif");
    background-position: left top;
    background-size: 150px;
    background-repeat: repeat;
    border-radius: 2%;
    display: inline-block;
}
.cuadro5 {
    width: 300px;
    height: 400px;
    margin: 0px 0px 0px 40px;
    background-image: url("../assets/gallery_photo_5.avif");
    background-position: right bottom;
    background-repeat: no-repeat;
    border-radius: 2%;
    display: inline-block;
}
.cuadro6 {
    width: 300px;
    height: 400px;
    margin: 0px 0px 0px 40px;
    background-image: url("../assets/gallery_photo_6.avif");
    background-position: 15% center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
    display: inline-block;
}


